<launch>

  <node pkg="lidar_align" name="lidar_align" type="lidar_align">
    <param name="input_bag_path" value="/home/z/Datasets/2018-08-16-15-28-58.bag" />
    <param name="input_csv_path" value="/home/z/Datasets/calib0_opt_poses.csv" />
    <param name="use_n_scans" value="1000" />

    <param name="local" value="true" />
    <rosparam param="inital_guess">[0.0, 0.0, 0.0, 0.0, 0.0, -1.67366]</rosparam>
    <rosparam param="range">[0.2, 0.2, 0.2, 0.5, 0.5, 0.5]</rosparam>
    <param name="max_evals" value="500" />
    <param name="xtol" value="0.0000001" />
    
    <param name="min_point_distance" value="1" />
    <param name="max_point_distance" value="20" />
    <param name="keep_points_ratio" value="0.02" />
    <param name="max_per_scan_points" value="10000" />

    <param name="knn_batch_size" value="5000" />
    <param name="knn_k" value="1" />
    <param name="knn_max_dist" value="0.1" />
  </node>

</launch>