<launch>

  <node pkg="lidar_align" name="lidar_align" type="lidar_align">
    <param name="input_bag_path" value="/media/z/64E7-B86A/datasets/ibeo/drive_long.bag" />
    <param name="use_n_scans" value="500000" />

    <param name="min_point_distance" value="2" />
    <param name="max_point_distance" value="20" />
    <param name="keep_points_ratio" value="0.005" />

    <param name="knn_batch_size" value="5000" />
    <param name="knn_k" value="1" />
    <param name="knn_max_dist" value="0.2" />
    <param name="joint_self_compare" value="false" />
  </node>

</launch>